name: Testing

on:
  push:
    branches:
      - main
    paths:
      - "*.mjs"
      - "*.js"
      - ".github/workflows/*.yml"
      - "package.json"
  pull_request:
    branches:
      - main
    paths:
      - "*.mjs"
      - "*.js"
      - ".github/workflows/*.yml"
      - "package.json"

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-slim
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Lint Code Base
        run: npm install && npm run lint
  build:
    needs: lint
    strategy:
      matrix:
        version: [20, 22, 24]
        os: [ubuntu-latest, ubuntu-24.04, ubuntu-22.04, ubuntu-slim]
    name: Testing
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Testing with Node ${{ matrix.version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.version }}
      - run: npm install
      - run: npm test
